<!DOCTYPE html>
<html>
    <head>
        <title>banannaaaa</title>
        <meta name="signet:authors" content="Ankur Anand">
        <meta name="signet:links" content="http://github.com/drecodeam, http://twitter.com/drecodeam, http://drecodeam.github.io">
        <link rel="stylesheet" href="/hood/css/main.css" />
    </head>

    <body>
        <header class="header">
            {{!-- <h5 class="header-title">drecodeam</h5> --}}
            {{#if showNav}}
              <nav class="header-nav">
              </nav>
            {{/if}}
        </header>
