<!DOCTYPE html>
<html>
    <head>
        <title>banannaaaa</title>
        <meta name="signet:authors" content="Ankur Anand">
        <meta name="signet:links" content="http://github.com/drecodeam, http://twitter.com/drecodeam, http://drecodeam.github.io">
        <link rel="stylesheet" href="/assets/css/dennis.css" />
    </head>

    <body>
        <header class="header">
            {{!-- <h5 class="header-title">drecodeam</h5> --}}
            {{#if showNav}}
              <nav class="header-nav">
                  <li class="header-nav-item"><a href="/index.html">home</a></li>
                  <li class="header-nav-item"><a href="/work.html">work</a></li>
                  <li class="header-nav-item"><a href="/writing.html">writing</a></li>
                  <li class="header-nav-item"><a href="/project.html">projects</a></li>
              </nav>
            {{/if}}
        </header>
