// Add all the vendor imports here
@import 'vendor/normalize';
@import 'vendor/harmon';
@import 'vendor/userscape';
@import 'vendor/code';
@import 'vendor/zoom';
@import 'vendor/ionicons';

// Add all the base imports here
@import 'base/type';
@import 'base/base';
@import 'base/colors';

// Add all the element imports here
@import 'elements/image';
@import 'elements/mockup';
@import 'elements/horizontal-viewer';
@import 'elements/commons';

// Add all the layout imports here
@import 'layouts/header';
@import 'layouts/article';
@import 'layouts/footer';
@import 'layouts/case';

// Add all the page imports here
 @import 'pages/landing';
 @import 'pages/work';
 @import 'pages/blog-list';
 @import 'pages/project';
 @import 'pages/colophon';
 @import 'pages/fingo';


.page-title {
    a {
        font-weight: 400;
        border: none;
    }
    span {
        color: #FFC535;
    }
}
