// Add all the vendor imports here
@import 'vendor/normalize';
@import 'vendor/harmon'; // SASS plugin for modular scale
@import 'vendor/userscape'; // Prettify theme
@import 'vendor/code'; // Prettify SASS
@import 'vendor/ionicons'; // Ionicons icons

// Add all the base imports here
@import 'base/type';
@import 'base/base';
@import 'base/colors';

// Add all the element imports here
@import 'elements/commons';

// Add all the layout imports here
@import 'layouts/header';
@import 'layouts/article';
@import 'layouts/footer';

// Add all the page imports here
 @import 'pages/landing';
 @import 'pages/blog-list';
