.image-full-width {
    position: relative;
    overflow: hidden;
    margin: 100px 0;
    text-align: center;
    font-family: $type-sans-serif;
    float: left;
    clear: both;
    width: 100%;
    img {
        max-width: 100%;
        display: inline;
    }
    .img-attribute {
        @extend %type-xs;
        opacity: 0.3;
        position: relative;
        text-align: center;
        display: none;
    }
    .image-label {
        @extend %type-xs;
        text-align: center;
        position: relative;
        overflow: hidden;
        padding: 0.5em 0;
    }
    &.cover-image {
        max-height: 60vh;
        padding: 20px 0;
        margin: 0 auto;
        float: none;
        max-width: 90vw;
    }
}

.image-grid {
    position: relative;
    overflow: hidden;
    padding: 20px 5%;
    margin: 50px 0;
    background: #F5F8FC;
    .image-grid-item {
        position: relative;
        overflow: hidden;
        width: 50%;
        padding: 20px;
        float: left;
        height: 1000px;
        img {
            max-height: 100%;
            max-width: 100%;
            display: inline;
        }
        .img-attribute {
            display: none;
            text-align: center;
            @extend %type-xs;
            opacity: 0.3;
            position: relative;
            overflow: hidden;
            padding: 0.5em 0;
        }
    }
    .image-grid-item-label {
        position: relative;
        overflow: hidden;
        text-align: center;
        padding: 0.5em 0;
        float: left;
        clear: both;
        width: 100%;
    }
}

.image-grid-small {
    position: relative;
    overflow: hidden;
    padding: 20px 5%;
    margin: 50px 0;
    background: #F5F8FC;
    .image-grid-item {
        position: relative;
        overflow: hidden;
        width: 25%;
        padding: 10px;
        float: left;
        img {
            max-height: 100%;
            max-width: 100%;
            display: inline;
        }
        .img-attribute {
            display: none;
            text-align: center;
            @extend %type-xs;
            opacity: 0.3;
            position: relative;
            overflow: hidden;
            padding: 0.5em 0;
        }
    }
    .image-grid-item-label {
        position: relative;
        overflow: hidden;
        text-align: center;
        padding: 0.5em 0;
        float: left;
        clear: both;
        width: 100%;
    }
}

.design-grid {
    position: relative;
    overflow: hidden;
    padding: 20px 5%;
    margin: 50px 0;
    background: #F5F8FC;
    img {
        position: relative;
        overflow: hidden;
        width: 50%;
        float: left;
        padding: 10px;
    }

}
