.colophon-container {
  position: relative;
  overflow: hidden;
  margin: 10px 20%;
  .colophon-container-header {
    @extend %type-xl;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #484E60;
    color: #EC9F05;
    // color: #95190C;
    margin: 0.5em 0;
    position: relative;
    overflow: hidden;
  }
  .colophon-container-subheader {
    // @extend %type-l;
    color: #95190C;
    // font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 1;
    margin: 0.5em 0;
  }
  .colophon-container-content {
    position: relative;
    overflow: hidden;
    max-width: 500px;
  }
  .work-section-display {
    position: relative;
    overflow: hidden;
    max-width: 80%;
  }
}
