.fingo-header {
    position: relative;
    overflow: hidden;
    margin-top: -50px;
    .fingo-canvas {
        position: relative;
        overflow: hidden;
        width: 40%;
        margin-top: -30%;
        height: auto;
        margin: 0 auto;
        display: block;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .fingo-header-title {
        margin-top: 0%;
        position: relative;
        overflow: hidden;
        color: #5ABD4F;
        text-align: center;
    }
}
