/* ==========================================================================
   CSS STYLES FOR LANDING PAGE
   ========================================================================== */
.landing-page {
  position: relative;
  overflow: hidden;
  padding: 30vh 10%;
  h1 {
    font-family: $type-sans-serif;
    margin: 0.2em 0;
    font-weight: 300;
  }
  h3 {
    margin: 0.5em 0;
    color: $black;
    font-weight: 100;
  }
}
