.project-container {
  position: relative;
  overflow: hidden;
  padding: 10px 5%;
  .page-title span {
    color: lighten( #34495e, 20% );
  }
  .project-list {
    position: relative;
    overflow: hidden;
    padding: 30px 4%;
    .project-item {
      font-family: $type-sans-serif;
      position: relative;
      overflow: hidden;
      margin: 1em 0;
      float: left;
      clear: both;
      .project-name {
        margin: 0;
        font-weight: 700;
      }
      .project-description {
        @extend %type-s;
        position: relative;
        overflow: hidden;
        color: lighten( #3c3c3c, 10% );
        max-width: 400px;
        padding: 0.5em 0;
      }
      .project-url {
        @extend %type-s;
        font-weight: 700;
        position: relative;
        overflow: hidden;
        float: left;
        clear: both;
      }
    }
  }
}
