.work-container {
  position: relative;
  overflow: hidden;
  padding: 10px 5%;
  .page-title span {
    color: #c0392b;
  }
  .work-section {
    position: relative;
    overflow: hidden;
    margin: 4em 0 2em 0;
    padding-left: 2em;
    .work-section-title {
      position: relative;
      overflow: hidden;
      margin: 0;
    }
    .work-section-date {
      @extend %type-xs;
      font-family: $type-sans-serif;
      position: relative;
      overflow: hidden;
      opacity: 0.5;
    }
    .work-section-content {
      @extend %type-s;
      position: relative;
      overflow: hidden;
      max-width: 600px;
      font-family: $type-sans-serif;
      padding-left: 0.5em;
      .work-subsection-subtitle {
        position: relative;
        overflow: hidden;
        margin: 1.5em 0 0 0;
      }
      .video-player {
        position: relative;
        overflow: hidden;
        width: 400px;
        height: auto;
        float: left;
      }
    }
      .work-section-button {
        @extend %type-xs;
        font-weight: 700;
        font-family: $type-sans-serif;
        position: relative;
        overflow: hidden;
        float: left;
        margin: 10px 0.5em;
        padding: 5px 20px;
        border-radius: 2px;
        border: 1px solid darken( #f1f1f1, 20% );
        i {
          padding-left: 10px;
        }
      }

  }
}
