.article-content {
    padding: 25vh 0;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    article {
        max-width: 800px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
}
.article-title {
    margin: 0;
    font-weight: 700;
    color: #3c3c3c;
    border: none;
    padding: 0;
}
