---
title: colophon page
writings: page
layout : page.hbs
showNav: true
---

<div class="colophon-container">
    <h1 class="colophon-container-header"><em>Let's be <br />humble.</em></h1>
    <h2 class="colophon-container-subheader">Let's attribute back.</h2>
    <div class="colophon-container-content">
        We as developers and designers are a wonderful community, where we grow and learn together. <br />
        Website built using Assemble. <br />
        Based on the melon theme. <br />
    </div>

<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400italic,900italic' rel='stylesheet' type='text/css'>
