---
title: index page
writings: page
layout : page.hbs
showNav: false
---
<div class="landing-page">
    <h1>dennis</h1>
    <div class="title-desc">A simple theme based on Assemble static site generator</div>

    <nav class="landing-nav">
        <div class="landing-nav-item"><a href="https://github.com/drecodeam/dennis">GITHUB</a></div>
        <div class="landing-nav-item"><a href="/docs.html">DOCUMENTATION</a></div>
        <div class="landing-nav-item"><a href="/writing.html">EXAMPLES</a></div>
    </nav>
