---
title: index page
writings: page
layout : page.hbs
showNav: true
---

<div class="list-container">

    <h1 class="page-title">
        <span class="page-title-home-link"><a href="/">{{config.websiteTitle}}/ </a></span><span class="page-title-current-title">writings</span>
    </h1>

    <div class="post-list">
          {{#each writings}}
            {{#is writing "blog"}}
                {{#withSort pages "data.posted" dir="desc"}}
                    <li class="post-list-item">
                        <a class="list-item-title" href="/{{relativeLink}}">{{ this.data.title }}</a>
                        <div class="list-item-date">
                            {{this.data.date}}
                        </div>
                    </li>
                {{/withSort}}
            {{/is}}
          {{/each}}
    </div>

