---
showNav: true
---


    {{!-- INCLUDE SITE HEADER --}}
    {{>site-header}}
    <div class="article-content">
        {{!-- INCLUDE PAGE TITLE --}}
        <h1 class="article-title">{{ this.page.title }}</h1>
        {{!-- INCLUDE THE CONTENT IN MARKDOWN --}}
        <div class="article-body">
            {{#markdown}}
                {{> body}}
            {{/markdown}}
        </div>
        {{!-- INCLUDE SITE FOOTER --}}
        {{>site-footer}}
    </div>
