---
showNav: true
---


    {{!-- INCLUDE SITE HEADER --}}
    {{>site-header}}

    <div class="article-content">
        {{!-- INCLUDE PAGE TITLE --}}
        <h1 class="article-title">{{ this.page.title }}</h1>
        {{!-- INCLUDE THE CONTENT IN MARKDOWN --}}
        <div class="article-body">
            {{#markdown}}
                {{> body}}
            {{/markdown}}
            {{#if config.disqus}}
                <div id="disqus_thread" class="disqus-container"></div>
            {{/if}}
        </div>
    </div>

    {{#if config.disqus}}
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = '{{config.disqus}}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    {{/if}}

    {{!-- INCLUDE SITE FOOTER --}}
    {{>site-footer}}
